<div class="">
  <aside class="">
    <div class="">
      <div class="">
        <h3 class=""><%= @user.name %></h3>
      </div>
      <div class="">
        <% if @user.image.present? %>
          <%= image_tag @user.image.url %>
        <% else %>
          <%= image_tag("non-image.jpg") %>
        <% end %>
      </div>
      <div class="">
        <p><span class=""><%= @user.name %></span>
        <% if @user.age.present? %> &nbsp;<%= @user.age %>代 <% end %>&nbsp;<%= @user.sex %></p>
        <p class="">自己紹介</p>
        <p><%= @user.introduce %></p>
      </div>
    </div>
  </aside>
  </div>

<%= link_to 'プロフィールを編集する', edit_user_path %>
<%= link_to 'お気に入り一覧', favorites_path %>
